/****************************************************************************


WCASTLE.RC

produced by Borland Resource Workshop


*****************************************************************************/

#include "Windows.h"

#define DIALOG_2	2
#define ID_NAME 201
#define ID_EDITION 202
#define ID_SCRIPTV 203
#define DIALOG_1	1
#define DIALOG_ABOUT	1
#define CM_KEYF3	101
#define ICON_1	1
#define MENU_1	1
#define CM_GAMESTATISTICS	105
#define CM_ABOUT	104
#define CM_CUSTOMGAME	102
#define CM_RESTART	101
#define CM_QUIT	103
#define ID_VERSION 106
MENU_1 MENU 
{
 POPUP "&Game"
 {
  MENUITEM "&Restart", CM_RESTART
  MENUITEM "&Custom...", CM_CUSTOMGAME
  MENUITEM SEPARATOR
  MENUITEM "&Quit", CM_QUIT
 }

 POPUP "&Map"
 {
  MENUITEM "&Properties", CM_GAMESTATISTICS
 }

 POPUP "&Help"
 {
  MENUITEM "&About", CM_ABOUT
 }

}

ICON_1 ICON "castle.ico"

DIALOG_ABOUT DIALOG 30, 17, 194, 119
STYLE WS_POPUP | WS_CAPTION | WS_THICKFRAME
CAPTION "About"
FONT 8, "MS Sans Serif"
{
 DEFPUSHBUTTON "OK", IDOK, 72, 96, 50, 18
 LTEXT "WinCaslte: A Text Based Adventure", -1, 37, 11, 120, 10
 LTEXT "WinCaste Copyright (C) 2001, Blaine Myers\n\tby Beem Software", -1, 32, 72, 140, 18
 LTEXT "Version 4.01", ID_VERSION, 75, 25, 41, 11
 LTEXT "CasteBUILD 4\n\tCopyright (C) 1997, 2000, 2001", -1, 32, 52, 132, 18
 ICON ICON_1, -1, 12, 17, 18, 20
 CONTROL "", -1, "static", SS_BLACKFRAME | WS_CHILD | WS_VISIBLE, 30, 47, 144, 44
}

DIALOG_2 DIALOG 6, 15, 194, 103
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION
CAPTION "Map Properties"
FONT 8, "MS Sans Serif"
{
 DEFPUSHBUTTON "&OK", IDOK, 136, 84, 50, 14
 LTEXT "Map Name:", -1, 44, 24, 40, 8
 LTEXT "Map Edition:", -1, 40, 40, 44, 8
 LTEXT "CastleSCRIPT Version:", -1, 8, 56, 76, 8
 LTEXT "", ID_NAME, 89, 24, 60, 8
 LTEXT "", ID_EDITION, 89, 39, 60, 8
 LTEXT "", ID_SCRIPTV, 89, 56, 60, 8
 LTEXT "This map's properties are:", -1, 8, 6, 88, 8
}

